body {
    background-image: url(SociusRRSS.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
   
}



.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-content {
    width: 100%;
    max-width: 450px;
    background-color: #29363d;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}

.form-content h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #ffffff;
    position:  relative;
}

.form-content h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background:#1f3b84;
    position: absolute;
    bottom: -12;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background-color: #515966;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 05s ;
    overflow: hidden;

}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #ffffff;

}

input::placeholder {
    color: #ffffff;
}

.input-field i {
    margin-left: 15px;
    color: #0020d7;

}

form p {
    color: #ffffff;
    text-align: left;
    font-size: 13 px;
}

form p a {
    color: #6872e2;
    margin-left: 5px;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.btn-field button {
    flex-basis: 48%;
    font-size: 16px;
    background-color: #0f55eb;
    color: #ffffff;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;


}

.input-group {
    height: 250px;
}

.btn-field button.disable {

    background-color:#EAEAEA ;
    color: #0a1936;
}